<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>676E4214-2492-4414-92C2-81014174FFC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F4422C-C4F3-4DBF-86B6-EBED2088AF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E9301CA-51BE-48C0-BF74-7268CDC38E44</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Hide hidden files</string>
			</dict>
		</array>
		<key>E5F4422C-C4F3-4DBF-86B6-EBED2088AF64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BED9BE1-9356-4193-BAD9-24139A1881B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cyril Vallée</string>
	<key>description</key>
	<string>As it is said</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show/Hide hidden files in finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Run the hotkey again to disable</string>
				<key>title</key>
				<string>Hidden files are VISIBLE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8BED9BE1-9356-4193-BAD9-24139A1881B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>defaults write com.apple.finder AppleShowAllFiles -boolean true &amp;&amp; killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5F4422C-C4F3-4DBF-86B6-EBED2088AF64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hid</string>
				<key>text</key>
				<string>Hidden files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>676E4214-2492-4414-92C2-81014174FFC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>defaults delete com.apple.finder AppleShowAllFiles &amp;&amp; killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E9301CA-51BE-48C0-BF74-7268CDC38E44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>again.</string>
				<key>title</key>
				<string>Hidden files are HIDDEN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0984508E-55CF-43ED-8343-E75AC16312CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0984508E-55CF-43ED-8343-E75AC16312CE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>676E4214-2492-4414-92C2-81014174FFC8</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>6E9301CA-51BE-48C0-BF74-7268CDC38E44</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8BED9BE1-9356-4193-BAD9-24139A1881B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E5F4422C-C4F3-4DBF-86B6-EBED2088AF64</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>cyrilvallee.net</string>
</dict>
</plist>
