<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>012A68A4-75EE-4E17-8D3B-05B89A794B00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCF93495-8AD7-418F-9247-9F03AB2FD097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DC5A0B4-A0E2-4C20-BDEB-39CD99BCDA00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24F9493C-8975-41CD-95D1-03B5B291F98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13900986-6B2C-4909-A14E-3C14B39A0844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDEAB627-9F76-41ED-AF14-1C384B4E2C2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FF52A7D-7056-46BB-8121-954DE3715758</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>809FDD15-39B2-4DE9-8FF5-DB404E7D9656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C711630F-7CC0-4CBD-84B1-3219F7762878</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8377DE0E-C641-470A-808A-5EF4CE0140E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB5C4E14-4261-4C0A-8A95-90DA871DE4EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADB038CB-EB95-4BBF-9D47-906C618F79EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCE2B143-0D26-4DC9-8B93-2B8C2667515A</key>
		<array/>
		<key>FCF93495-8AD7-418F-9247-9F03AB2FD097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C6FE75-295E-47E5-98E3-598EA4D59E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4EFDBFA8-7FC0-4C82-A0E5-4A1BB8C0B462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCE2B143-0D26-4DC9-8B93-2B8C2667515A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jolin Masson</string>
	<key>description</key>
	<string>Chercher des mots dans Antidote 10</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Antidote 10</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module corrector
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95C6FE75-295E-47E5-98E3-598EA4D59E87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cor</string>
				<key>subtext</key>
				<string>D’un logiciel ou «{query}»</string>
				<key>text</key>
				<string>Corriger le texte</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>012A68A4-75EE-4E17-8D3B-05B89A794B00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4EFDBFA8-7FC0-4C82-A0E5-4A1BB8C0B462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FCF93495-8AD7-418F-9247-9F03AB2FD097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set the clipboard to "{query}"

tell application "Antidote 10"
	activate
	new document
end tell

tell app "System Events" to keystroke "v" using command down
tell app "System Events" to keystroke "k" using command down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCE2B143-0D26-4DC9-8B93-2B8C2667515A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module dictionaries resource definitions word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADB038CB-EB95-4BBF-9D47-906C618F79EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>def</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Définitions de '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB5C4E14-4261-4C0A-8A95-90DA871DE4EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>syn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Synonymes de '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C711630F-7CC0-4CBD-84B1-3219F7762878</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module dictionaries resource synonyms word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8377DE0E-C641-470A-808A-5EF4CE0140E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module dictionaries resource antonyms word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24F9493C-8975-41CD-95D1-03B5B291F98C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ant</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Antonymes de '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DC5A0B4-A0E2-4C20-BDEB-39CD99BCDA00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>conj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Conjugaison de '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3FF52A7D-7056-46BB-8121-954DE3715758</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module dictionaries resource conjugation word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>809FDD15-39B2-4DE9-8FF5-DB404E7D9656</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cooc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Cooccurences de '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13900986-6B2C-4909-A14E-3C14B39A0844</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "AgentAntidoteConnect"
	launch module dictionaries resource combinations word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDEAB627-9F76-41ED-AF14-1C384B4E2C2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Permet d’accéder aux ressoures d’Antidote
–––
Raffinement de la fonctionne correction</string>
	<key>uidata</key>
	<dict>
		<key>012A68A4-75EE-4E17-8D3B-05B89A794B00</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>0DC5A0B4-A0E2-4C20-BDEB-39CD99BCDA00</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>13900986-6B2C-4909-A14E-3C14B39A0844</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>24F9493C-8975-41CD-95D1-03B5B291F98C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>3FF52A7D-7056-46BB-8121-954DE3715758</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>809FDD15-39B2-4DE9-8FF5-DB404E7D9656</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>8377DE0E-C641-470A-808A-5EF4CE0140E3</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>95C6FE75-295E-47E5-98E3-598EA4D59E87</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>ADB038CB-EB95-4BBF-9D47-906C618F79EB</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>BDEAB627-9F76-41ED-AF14-1C384B4E2C2E</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>C711630F-7CC0-4CBD-84B1-3219F7762878</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>CB5C4E14-4261-4C0A-8A95-90DA871DE4EF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>CCE2B143-0D26-4DC9-8B93-2B8C2667515A</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>FCF93495-8AD7-418F-9247-9F03AB2FD097</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.5</string>
	<key>webaddress</key>
	<string>www.jolinmasson.com</string>
</dict>
</plist>
