<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.bundled.osxdark</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.EBB9AE31-AEED-430E-965D-96BD0BC9C54E</string>
</dict>
</plist>
